.error {
    color: red;
}

.form-control.error {
    color: red;
    border-color: red;
}

.form-select.form-select-sm  {
    border: 1px solid #e8eff9;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    padding: 0.5rem 0.81rem;
    height: auto;
}

.typcn:before{
    height: unset;
}

#floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    font-family: Roboto, "sans-serif";
    left: 20%;
    line-height: 30px;
    padding: 5px 5px 5px 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    z-index: 5;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.btn-outline-dark:hover svg, .btn-outline-dark svg:hover {
    fill: white;
}

/* .weekDays input {
    display: none !important;
} */

.weekDays input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #ddd;
    height: 40px;
    width: 80px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekDays input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #fff;
}

.navbar .navbar-brand-wrapper .brand-text {
    font-size: 20px;
    font-weight: 700;
}

.nav-profile .sidebar-profile-image img {
    box-shadow: none !important;
}

.date-icon-set .search-link {
    position: absolute;
    top: 15;
    /* right: 15px; */
    font-size: 18px;
    line-height: 38px;
    color: #6c757d;
}

.h-280 {
    height: 280px;
}

.typcn {
    font-size: 20px;
    cursor: pointer;
}

.fs-14 {
    font-size : 14px;
}

.fs-15 {
    font-size : 15px;
}

.fs-18 {
    font-size : 18px;
}

.dt-container .top .dt-buttons {
    display: none !important;
}