.error {
    color: red;
}

.form-control.error {
    color: red;
    border-color: red;
}

.form-select.form-select-sm  {
    border: 1px solid #e8eff9;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    padding: 0.5rem 0.81rem;
    height: auto;
}